$primary-color: #cccccc;
$yellow: #fff900;
$black: black;
$red: red;
$primary-background-image: url("./assets/images/Tortoise-Shell.svg");
$primary-background-size: 200px 200px;
$secondary-background-size: 80px 80px;

body {
  margin: 0;
  box-sizing: border-box;
  background-size: 600px 600px;
  font-family: "Times New Roman", Times, serif;
  .top-header {
    margin: 25px auto 0;
    .links-container {
      text-align: center;
      .links-container-cols {
        padding: 0 5px;
        a {
          display: inline-flex;
          background-image: $primary-background-image;
          background-size: $secondary-background-size;
          border-radius: 20px;
          box-sizing: border-box;
          outline: none;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 35px;
          text-decoration: none;
          font-size: 1em;
          font-weight: bold;
          padding: 0;
          transition: 0.5s ease;
          box-shadow: 0 0 5px 0 $primary-color;
          &:link, &:visited, &:hover, &:active {
            color: $black;
          }
        }
      }
    }
    .logout-icon {
      & > div {
        height: 35px;
        margin: 2px auto;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        svg {
          cursor: pointer;
          width: 20px;
          height: 20px;
          fill: $primary-color;
        }
      }
    }
    .change-language-icon {
      height: 35px;
      margin: 2px auto;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      svg {
        cursor: pointer;
        width: 35px;
        height: 35px;
        fill: $primary-color;
      }
    }
  }
  .home {
    text-align: center;
    .home-header {
      text-align: center;
      position: sticky;
      top: 0;
      z-index: 1;
      margin: 5px auto;
      padding: 20px auto;
      .links-container {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 50px;
        .links-container-cols {
          border-bottom: 1px solid white;
          border-radius: 20px;
          margin: 0;
          padding: 0;
          a {
            background-color: transparent;
            box-sizing: border-box;
            outline: none;
            text-decoration: none;
            font-size: 1.2vmax;
            font-weight: 900;
            padding: 20px 0;
            &:link, &:visited, &:hover, &:active {
              color: white;
            }
          }
        }
      }
    }
    img {
      width: 50%;
      max-width: 300px;
      height: auto;
      margin: 25px 0;
    }
    .section {
      & > div {
        background-image: $primary-background-image;
        background-size: $primary-background-size;
        color: $yellow;
        border-radius: 20px;
        width: 100%;
        height: 400px;
        font-size: 1.2vmax;
        font-weight: normal;
        margin: 50px 0;
        padding: 0 25px 25px;
        box-shadow: 0 0 5px 0 $primary-color;
        & > div {
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          border-radius: 20%;
          top: -25px;
          background-color: $yellow;
          color: $black;
          text-align: center;
          font-size: 1.4vmax;
          font-weight: bold;
          width: 40%;
          padding: 10px;
          box-shadow: 0 0 5px 0 $yellow;
        }
      }
      & > hr {
        text-align: center;
        background-color: $yellow;
        margin: 0 auto 55px;
        width: 75%;
      }
    }
  }
  .login {
    .user {
      text-align: center;
      margin: 30px 0;
      svg {
        fill: $primary-color;
        width: 100%;
        height: auto;
        margin: 15px 0;
        animation: 1s change-opacity ease-in-out alternate infinite;
      }
      .login-sign-up {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        position: relative;
        background-image: $primary-background-image;
        background-size: $secondary-background-size;
        border-radius: 20px;
        height: 40px;
        color: $black;
        margin: 5px 10px;
        box-shadow: 0 0 5px 0 $primary-color;
        p {
          text-align: center;
          font-family: "Times New Roman", Times, serif;
          font-size: 1em;
          font-weight: bold;
          margin: 0;
        }
      }
      .login-form {
        position: relative;
        background-image: $primary-background-image;
        background-size: $primary-background-size;
        border-radius: 20px;
        color: $black;
        box-shadow: 0 0 5px 0 $primary-color;
        margin: 15px 0;
        padding: 15px 0;
        svg {
          position: relative;
          top: -2px;
          fill: $black;
          width: 16px;
          height: 16px;
          animation: none;
          &.visibility-icon {
            display: block;
            cursor: pointer;
            top: -45px;
          }
        }
        label {
          display: block;
          font-family: "Times New Roman", Times, serif;
          font-size: 1em;
          font-weight: bold;
          margin-bottom: 0;
          padding: 12px 0;
        }
        input {
          display: block;
          border: none;
          border-radius: 20px;
          outline: none;
          box-sizing: border-box;
          font-family: "Times New Roman", Times, serif;
          font-size: 0.8em;
          font-weight: bold;
          width: 80%;
          height: 35px;
          margin-bottom: 20px;
          padding: 0 5.5%;
        }
        button {
          svg.login-icon {
            cursor: pointer;
            top: 1px;
          }
          cursor: pointer;
          position: relative;
          background-color: transparent;
          border: none;
          border-radius: 20px;
          outline: none;
          color: $black;
          font-family: "Times New Roman", Times, serif;
          font-size: 1.2em;
          font-weight: bold;
        }
        .error-message {
          margin: -10px 0 0;
          text-align: justify;
          text-justify: auto;
          p {
            overflow-wrap: break-word;
            font-size: 0.75em;
            font-weight: bold;
            color: #af0000;
            margin: 0 10%;
            padding: 0;
          }
        }
        .forgot-password {
          margin: -30px 0 20px;
          a {
            background-color: transparent;
            border-radius: 20px;
            box-sizing: border-box;
            outline: none;
            text-decoration: none;
            font-size: 0.8em;
            font-weight: bold;
            padding: 0;
            &:link, &:visited, &:hover, &:active {
              color: $black;
            }
          }
        }
      }
    }
  }
  .not-found {
    .not-found-div {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%,-50%);
      background-image: $primary-background-image;
      background-size: $primary-background-size;
      border-radius: 20px;
      color: $black;
      box-shadow: 0 0 5px 0 $primary-color;
      width: 100%;
      padding: 30px 0;
      margin: 30px 0;
      p {
        display: block;
        text-align: center;
        font-family: "Times New Roman", Times, serif;
        font-size: 1.5em;
        font-weight: bold;
        margin: 0;
        padding: 0;
        &.error404 {
          font-size: 2.5em;
          font-weight: 900;
        }
      }
    }
  }
  .single-content {
    & > div {
      background-image: $primary-background-image;
      background-size: $primary-background-size;
      color: $yellow;
      border-radius: 20px;
      width: 100%;
      height: 400px;
      font-size: 1.2vmax;
      font-weight: normal;
      margin: 50px 0;
      padding: 0 25px 25px;
      box-shadow: 0 0 5px 0 $primary-color;
      & > div {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        border-radius: 20%;
        top: -25px;
        background-color: $yellow;
        color: $black;
        text-align: center;
        font-size: 1.4vmax;
        font-weight: bold;
        width: 40%;
        padding: 10px;
        box-shadow: 0 0 5px 0 $yellow;
      }
    }
  }
  .map-page {
    .map {
      background-image: $primary-background-image;
      background-size: $primary-background-size;
      color: $yellow;
      border-radius: 20px;
      width: 100%;
      font-size: 1.2vmax;
      font-weight: normal;
      margin: 50px 0 50px;
      padding: 0 25px 25px;
      box-shadow: 0 0 5px 0 $primary-color;
      .header {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        border-radius: 20%;
        top: -25px;
        background-color: $yellow;
        color: $black;
        text-align: center;
        font-size: 1.4vmax;
        font-weight: bold;
        width: 40%;
        padding: 10px;
        box-shadow: 0 0 5px 0 $yellow;
      }
      .map-column {
        .map-container {
          direction: ltr;
          background-image: url("./assets/images/Logo/Map Board.png");
          background-size: 94% 94%;
          background-position: center center;
          background-repeat: no-repeat;
          .column-style {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 0;
            & > div {
              padding: 0;
              & > div {
                position: relative;
                background-size: cover;
                background-position: center;
                border-radius: 50%;
                width: 90%;
                padding: 90% 0 0;
                margin: 5% auto;
                p {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  text-align: center;
                  position: absolute;
                  top: 0;
                  left: 0;
                  bottom: 0;
                  right: 0;
                  font-size: 75%;
                  font-weight: bold;
                  color: black;
                  margin: 0;
                }
              }
            }
          }
        }
        p {
          cursor: pointer;
          text-align: center;
          font-size: 80%;
          font-weight: bold;
          color: black;
          margin: 10px;
        }
      }
      .task-detail {
        text-align: right;
        margin: 20px 0;
        .chosen-task {
          width: 90%;
          margin: 5% auto;
          p {
            font-size: 1.2vmax;
            font-weight: bold;
            color: black;
            margin: 10px;
          }
          a {
            font-size: 1.2vmax;
            font-weight: bold;
            color: yellow;
            margin: 10px;
            &:hover {
              text-decoration: none;
            }
          }
          button {
            width: 40%;
            border-radius: 20px;
            border: none;
            outline: 0;
            margin: 0 auto;
            background-color: yellow;
            box-shadow: 0 0 5px 0 $yellow;
          }
        }
        .no-task-chosen {
          text-align: center;
          width: 90%;
          margin: 5% auto;
          p {
            font-size: 1.2vmax;
            font-weight: bold;
            color: black;
            margin: 10px;
          }
        }
      }
    }
  }
  .game {
    text-align: center;
    .game-header {
      text-align: center;
      position: sticky;
      top: 0;
      z-index: 1;
      margin: 5px auto;
      padding: 20px auto;
      .links-container {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 50px;
        .links-container-cols {
          border-bottom: 1px solid white;
          border-radius: 20px;
          margin: 0;
          padding: 0;
          a {
            background-color: transparent;
            box-sizing: border-box;
            outline: none;
            text-decoration: none;
            font-size: 1.2vmax;
            font-weight: 900;
            padding: 20px 0;
            &:link, &:visited, &:hover, &:active {
              color: white;
            }
          }
        }
      }
    }
    .section {
      & > div {
        .single-content-page {
          & > div {
            background-image: $primary-background-image;
            background-size: $primary-background-size;
            color: $yellow;
            border-radius: 20px;
            width: 100%;
            font-size: 1.2vmax;
            font-weight: normal;
            margin: 50px 0;
            padding: 0 25px 40px;
            box-shadow: 0 0 5px 0 $primary-color;
            .header {
              display: flex;
              align-items: center;
              justify-content: center;
              position: relative;
              border-radius: 20%;
              top: -25px;
              background-color: $yellow;
              color: $black;
              text-align: center;
              font-size: 1.5vmax;
              font-weight: bold;
              width: 40%;
              padding: 10px;
              box-shadow: 0 0 5px 0 $yellow;
            }
            .message {
              cursor: pointer;
              border-bottom: 1px solid black;
              position: relative;
              color: black;
              font-size: 1.2vmax;
              font-weight: bold;
              width: 100%;
              margin: 0 auto;
              padding: 2.5% 3%;
              &:nth-child(even) {
                background-color: yellow;
              }
              &:nth-child(odd):hover {
                background-color: #757575;
              }
              p {
                display: inline;
                color: red;
                font-size: 1vmax;
                font-weight: bold;
                margin-left: 5px;
              }
            }
            .exchange {
              text-align: center;
              color: black;
              font-size: 1.2vmax;
              font-weight: bold;
              margin: 0 auto;
              .credit {
                text-align: center;
                width: 18px;
                height: 18px;
                background-color: white;
                border: 1px solid black;
                border-radius: 50%;
                position: relative;
                bottom: 0;
                cursor: pointer;
                margin: 0 auto;
                padding: 0;
                .credit-yellow {
                  width: 12px;
                  height: 12px;
                  border-radius: 50%;
                  margin: auto;
                  padding: 0;
                  position: absolute;
                  top: 12.5%;
                  right: 12%;
                }
              }
              input {
                text-align: center;
                width: 100%;
                font-size: 1vmax;
                font-weight: bold;
                border-radius: 20px;
                border: 1px solid black;
                padding: 0 10px;
                outline: none;
              }
              button {
                width: 50%;
                margin: 20px auto 0;
                border-radius: 20px;
                border: none;
                outline: 0;
                background-color: yellow;
                box-shadow: 0 0 5px 0 $yellow;
              }
            }
            table {
              border-collapse: collapse;
              width: 100%;
              text-align: center;
              border-radius: 50%;
              color: black;
              tr {
                vertical-align: center;
                border-radius: 50%;
                height: 10px;
                &:hover {
                  background-color: #757575;
                }
                th {
                  padding: 3% 0;
                  font-size: 1.2vmax;
                  font-weight: bold;
                  border-bottom: 1px solid black;
                  background-color: yellow;
                  width: 25%;
                  svg {
                    position: relative;
                    right: 5%;
                    width: 0.5em;
                    height: 0.75em;
                  }
                }
                td {
                  padding: 2% 0;
                  font-size: 1.2vmax;
                  font-weight: bold;
                  border-bottom: 1px solid black;
                }
              }
            }
          }
        }
      }
    }
  }
}
.blue-background-image {
  background-image: url("./assets/images/Vanishing-Stripes-blue.svg");
}
.cyan-background-image {
  background-image: url("./assets/images/Vanishing-Stripes-cyan.svg");
}
.green-background-image {
  background-image: url("./assets/images/Vanishing-Stripes-green.svg");
}
.red-background-image {
  background-image: url("./assets/images/Vanishing-Stripes-red.svg");
}
.single-content-background-image {
  background-image: url("./assets/images/Vanishing-Stripes-yellow.svg");
}
.gray-background {
  background-image: url("./assets/images/Logo/0-Background.png");
}
.A1-background {
  background-image: url("./assets/images/Logo/1-Background.png");
}
.A2-background {
  background-image: url("./assets/images/Logo/2-Background.png");
}
.A3-background {
  background-image: url("./assets/images/Logo/3-Background.png");
}
.A4-background {
  background-image: url("./assets/images/Logo/4-Background.png");
}
.A5-background {
  background-image: url("./assets/images/Logo/5-Background.png");
}
.A6-background {
  background-image: url("./assets/images/Logo/6-Background.png");
}
.A7-background {
  background-image: url("./assets/images/Logo/7-Background.png");
}
.A8-background {
  background-image: url("./assets/images/Logo/8-Background.png");
}
.A9-background {
  background-image: url("./assets/images/Logo/9-Background.png");
}
.A10-background {
  background-image: url("./assets/images/Logo/10-Background.png");
}
.A11-background {
  background-image: url("./assets/images/Logo/11-Background.png");
}
.A12-background {
  background-image: url("./assets/images/Logo/12-Background.png");
}
.multi-color-background {
  background-image: url("./assets/images/Logo/Multi-Background.png");
}
.done-background {
  background-image: url("./assets/images/Logo/Map Background Green.png");
}
.pending-background {
  background-image: url("./assets/images/Logo/Map Background Yellow.png");
}
.saleable-background {
  background-image: url("./assets/images/Logo/Map Background Cyan.png");
}
.lock-background {
  background-image: url("./assets/images/Logo/Map Background Gray.png");
}
@keyframes change-opacity {
  from {
    opacity: 0.75;
  }
  to {
    opacity: 1;
  }
}
@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}